/* 字体样式声明 */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?tomleg");
  src: url("../fonts/icomoon.eot?tomleg#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?tomleg") format("truetype"),
    url("../fonts/icomoon.woff?tomleg") format("woff"),
    url("../fonts/icomoon.svg?tomleg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* 版心 */
.w {
  width: 1200px;
  margin: 0 auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.style_red {
  color: #c81630;
}
/* 快捷导航栏模块 */
.shortcut {
  height: 31px;
  line-height: 31px;
  background-color: #f1f1f1;
}
.shortcut ul li {
  float: left;
}
/* 选择位置在偶数位上的li */
.shortcut .fr ul li:nth-child(even) {
  width: 0.5px;
  height: 12px;
  background-color: #666666;
  margin: 9px 15px 0;
}
.arrow-icon::after {
  content: "\e91e";
  font-family: "icomoon";
  margin-left: 6px;
}
/* 头部header区域 */
.header {
  position: relative;
  height: 105px;
}
.logo {
  position: absolute;
  top: 27px;
  width: 171px;
  height: 61px;
}
.logo h1 a {
  display: block;
  width: 171px;
  height: 61px;
  background: url(../images/logo.png) no-repeat;
  /* 京东做法 */
  /* font-size: 0; */
  /* 淘宝做法 */
  text-indent: -999px;
  overflow: hidden;
}
.search {
  position: absolute;
  top: 25px;
  left: 346px;
  width: 538px;
  height: 36px;
  border: 2px solid #b1191a;
}
.search input {
  float: left;
  width: 454px;
  height: 32px;
  padding-left: 10px;
}
.search button {
  float: left;
  width: 80px;
  height: 32px;
  background-color: #b1191a;
  font-size: 16px;
  color: #fff;
}
.hotwords {
  position: absolute;
  top: 66px;
  left: 346px;
}
.hotwords a {
  margin: 0 10px;
}
.shopcar {
  position: absolute;
  top: 25px;
  right: 60px;
  width: 140px;
  height: 35px;
  border: 1px solid #dfdfdf;
  background-color: #f7f7f7;
  text-align: center;
  line-height: 35px;
}
.shopcar::after {
  content: "\e920";
  font-family: "icomoon";
  margin-left: 10px;
}
.shopcar::before {
  content: "\e93a";
  font-family: "icomoon";
  color: #b1191a;
  margin-right: 5px;
}
.count {
  position: absolute;
  left: 105px;
  top: -5px;
  height: 14px;
  color: #fff;
  background-color: #e60012;
  line-height: 14px;
  padding: 0 5px;
  border-radius: 7px 7px 7px 0;
}
.nav {
  height: 47px;
  border-bottom: 2px solid #b1191a;
}
.nav .dropdown {
  width: 209px;
  height: 45px;
}
.dropdown .dt {
  height: 100%;
  background-color: #b1191a;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-size: 16px;
}
.dropdown .dd {
  /* display: none; */
  height: 466px;
  background-color: #c81623;
  margin-top: 2px;
}
.dropdown .dd ul li {
  position: relative;
  height: 31px;
  line-height: 31px;
  margin-left: 2px;
}
.dropdown .dd ul li::after {
  position: absolute;
  top: 1px;
  right: 11px;
  content: "\e920";
  font-family: "icomoon";
  color: #fff;
  font-size: 14px;
}
.dropdown .dd ul li:hover {
  background-color: #fff;
}
.dropdown .dd ul li a {
  color: #fff;
  font-size: 14px;
  padding: 10px;
}
.dropdown .dd ul li:hover a {
  color: #c81623;
}
.navitems {
  height: 45px;
}
.navitems ul li {
  float: left;
  line-height: 45px;
}
.navitems ul li a {
  font-size: 16px;
  padding: 0 25px;
}
.footer {
  height: 417px;
  background-color: #f5f5f5;
  padding-top: 30px;
}
.footer .modservice {
  height: 110px;
  border-bottom: 1px solid #ededed;
}
.footer .modservice ul li {
  float: left;
  width: 240px;
  height: 50px;
  padding-left: 35px;
}
.footer .modservice ul li h5 {
  float: left;
  width: 50px;
  height: 50px;
  background: url(../images/icons.png) no-repeat -252px -3px;
  margin-right: 8px;
}
.service-txt h4 {
  font-size: 14px;
}
.service-txt p {
  font-size: 12px;
}
.mod-help {
  height: 185px;
  border-bottom: 1px solid #ededed;
  padding-top: 20px;
  padding-left: 50px;
}
.mod-help dl {
  float: left;
  width: 200px;
}
.mod-help dl:last-child {
  width: 90px;
  text-align: center;
}
.mod-help dl dt {
  font-size: 16px;
}
.mod-help dl dd {
  line-height: 20px;
  font-size: 12px;
}
.mod-copyright {
  text-align: center;
  padding-top: 20px;
}
.mod-copyright .links {
  margin-bottom: 15px;
}
.copyright {
  line-height: 20px;
}
.links a {
  margin: 0 3px;
}
